body {
  background-color: #222831;
  color: #eeeeee;
  font-family: Arial, sans-serif;
  margin: 0;
}
h3 {
  margin-top: 0px;
}
select {
  background-color: #00adb5;
  color: #eeeeee;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  margin-left: 23px;
  margin-right: 60px;
  margin-bottom: 20px;
  width: 200px;
  height: 25px;
}
.qu-label {
  margin: 25px;
}
header{
    display: flex;
  align-items: center;
  background-color: #393e46;
  padding-left: 80px;
  height: 100px;
  border-radius: 0px 0px 14px 14px;
}
.page-container {
  max-width: 400px;
  margin: 0 auto;
}
.container {
  background-color: #393e46;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 14px;
}
.Description-container {
  padding-left: 15px;
}
.process-btn{
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  width: 150px;
  height: 30px;
  margin-left: 20px;
    cursor: pointer;
}

.tooltip {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1.5px solid #eeeeee;
  font-size: 12px;
  font-weight: bold;
  cursor: help;
}
.tooltip .tooltiptext {
  visibility: hidden;      
  width: 200px;
  background-color: #00adb5;
  color: #eeeeee;
  text-align: left;
  padding: 5px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%;            
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.8rem;
  pointer-events: none;   
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.slider-container {
  position: relative;
  width: 300px;
  margin-top: 15px;
}
.slider-start {
  position: absolute;
  left: 22px;
  top: 32px;
  font-size: 12px;
}
.slider-end {
  position: absolute;
  right: -30px;
  top: 32px;
  font-size: 12px;
}
.Quantum-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 4px;
  background: #00adb5;
  background-color: #00adb5;
  border: none;
  margin: 20px 0px 20px 22px;
}
.Quantum-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 3px;        /* line thickness */
  height: 20px;      /* line height */
  background-color: #eeeeee;

  border-radius: 1px;
  cursor: pointer;
}


input {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  width: 70px;
  height: 30px;
  margin-left: 13px;
}
.pcb-label {
  margin-left: 30px;
  margin-bottom: 20px;
}
.row {
  display: flex;
  flex-direction: column;
}
.input-column {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
}
#process-table {
  margin: 0 auto;
}
#RunBtn {
  width: 160px;
  margin-left: 89px;
  margin-top: 20px;
    cursor: pointer;
}
.hidden {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #eeeeee;
}
.summary-header {
    display: flex;                
    justify-content: space-between; 
    align-items: center;          
    margin-bottom: 10px;      
}  
.summary-header h3 {
    margin: 0;
}
#toggleSummaryBtn {
  background-color: #00adb5;
  color: #eeeeee;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
